@page
@using Ofix.Localization
@using Ofix.Web.Pages.Brands
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model CreateModalModel
@inject IStringLocalizer<OfixResource> L

@{
    Layout = null;
}

<abp-dynamic-form abp-model="Brand" asp-page="/Brands/CreateModal">
    <abp-modal>
        <abp-modal-header title="@L["NewBrand"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-form-content />
            <div class="mb-3">
                <label for="LogoFile" class="form-label">@L["Logo"]</label>
                <input type="file" id="CreateLogoFile" name="LogoFile" class="form-control" accept="image/*" />
            </div>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel | AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</abp-dynamic-form>